.git
.gitignore
.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.DS_Store

.env
.env.*
**/.env
**/.env.*
!**/.env.example

.docker-secrets
node_modules
**/node_modules
.next
**/.next

backend/local_data
backend/local_indexes
evaluation/reports
frontend/.git

*.log
step*_current_files.txt
